services:
  demo_api:
    image: demo_api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: Production
      CONNECTIONSTRINGS__PGCONNECTION: "Host=postgres_db;Port=5432;Database=DemoDb;Username=postgres;Password=postgres;"
      JWT__SECRETKEY: ${JWT__SECRETKEY}
      JWT__ISSUER: ${JWT__ISSUER}
      JWT__AUDIENCE: ${JWT__AUDIENCE}
      JWT__EXPIRATIONINMINUTES: ${JWT__EXPIRATIONINMINUTES}
    depends_on:
      postgres_db:
        condition: service_healthy
      
  postgres_db:
    image: postgres:17-alpine
    ports:
      - "5432:5432" 
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: DemoDb
    volumes:
      - postgres_data:/var/lib/postgresql/data 
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  postgres_data: